header {
    background-color: var(--header-background);
    height: 80px;
}

header div.content-limiter {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.desktop ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

header nav.desktop li {
    font-size: 20px;
}

/* Nav display atual page */

header nav.home a.home {
    font-weight: bold;
}

header nav.projects a.projects {
    font-weight: bold;
}

header nav.about a.about {
    font-weight: bold;
}

header nav.contact a.contact {
    font-weight: bold;
}

/* ============================== */

header li:hover a{
    text-decoration: underline;
}

header nav.mobile {
    display: none;
}

header nav.mobile .closed-menu img{
    height: 30px;
    filter: invert(0.8);
    cursor: pointer;
}

header nav.mobile .opened-menu {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 250px;
    width: 70%;
    background: rgba( 192, 232, 220, 0.5 );
    box-shadow: 0 8px 15px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px 0 0 0;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100vh;
}

header nav.mobile .opened-menu.hidden{
    display: none;
}

header nav.mobile .opened-menu .menu-header{
    display: flex;
    width: 100%;
    justify-content: right;
    border-bottom: 2px solid var(--divider-color);
    padding: 23px 20px;
    margin-bottom: 10px;
}

header nav.mobile .opened-menu img{
    width: 30px;
    filter: contrast(2);
    cursor: pointer;
}

header nav.mobile .opened-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
}

header nav.mobile .opened-menu ul a{
    display: block;
    width: 100%;
    border-right: 4px solid var(--divider-color);
    text-align: right;
    font-size: 30px;
    padding: 5px 20px;
}

@media screen and (max-width: 800px) {
	header nav.desktop {
        display: none;
    }

    header nav.mobile {
        display: initial;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 24px;
    }
}