.project-list {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.project-card {
    display: flex;
    padding: 15px;
    background-color: var(--card-brackground);
    max-width: 500px;
    border-radius: 10px;
}

.project-card .links{
    border-right: 2px solid var(--gray-div-color);
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.project-card .links a{
    width: 60px;
    height: 60px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border-radius: 100%;
}


.project-card .description h4{
    margin-bottom: 10px;
}

.project-card .description p{
    margin-left: 20px;
}

.project-card .links .github img{
    width: 50%;
}

.project-card .links .site img{
    width: 30px;
}

.project-card .links img{
    filter: invert(0.7);
}

.project-card .links .github{
    background-color: var(--button-github);
}

.project-card .links .site{
    background-color: var(--button-site);
}

.personal-projects .see-more {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

@media screen and (max-width: 950px) {
    .project-list {
        flex-direction: column;
    }

    .project-card {
        flex-direction: column-reverse;
    }

    .project-card .links{
        border-right: 0px solid var(--gray-div-color);
        border-top: 2px solid var(--gray-div-color);
        margin-top: 30px;
        flex-direction: row;
        justify-content: right;
    }
}